.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 5rem;
    background-color: #ac1bdc;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  .header h1{
    margin: 0px 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .button{
    margin: 0px 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .button{
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: rgb(88, 23, 23);
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.button:hover,
.button:active {
  background-color: black;
}
  

  @media(max-width:768px){
    .header h1{
      margin: 10px;
      font-size: 1.7rem;
    }
    .header{
      height: 4rem;
    }
  }